# Using ILIKE to Select Columns

In [3]:
import os
import json

from snowflake.snowpark.session import Session


## Connection information
path = os.environ.get('CAS_CREDENTIALS')
connection_parameters = json.load(open(f'{path}\\connection.json'))

# Create Snowflake Session object
session = Session.builder.configs(connection_parameters).create()

## Select all rows

In [8]:
myQuery = '''
with step_one as (
    select 1 as numone,
            2 as numtwo,
            3 as numthree,
            'a' as letterone,
            'b' as lettertwo,
            'c' as letterthree,
            '+' as symbolone,
            '#' as symboltwo,
            ';' as symbolthree
)

select * 
from step_one
'''

session.sql(myQuery).show()

----------------------------------------------------------------------------------------------------------------------------
|"NUMONE"  |"NUMTWO"  |"NUMTHREE"  |"LETTERONE"  |"LETTERTWO"  |"LETTERTHREE"  |"SYMBOLONE"  |"SYMBOLTWO"  |"SYMBOLTHREE"  |
----------------------------------------------------------------------------------------------------------------------------
|1         |2         |3           |a            |b            |c              |+            |#            |;              |
----------------------------------------------------------------------------------------------------------------------------

## Using ILIKE

In [9]:
myQuery = '''
with step_one as (
    select 1 as numone,
            2 as numtwo,
            3 as numthree,
            'a' as letterone,
            'b' as lettertwo,
            'c' as letterthree,
            '+' as symbolone,
            '#' as symboltwo,
            ';' as symbolthree
)

select * ilike '%two' 
from step_one
'''

session.sql(myQuery).show()

----------------------------------------
|"NUMTWO"  |"LETTERTWO"  |"SYMBOLTWO"  |
----------------------------------------
|2         |b            |#            |
----------------------------------------